* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    padding: 0;
    height: 100%;
    max-width: 100ch;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100ch;
}

.header {
    color: #4961f8;
    max-width: 100%;
}

#tags {
    color: #ececec;
}

.slash {
    color: #12eae1;
}

.articles {
    color: #ececec;
}

a {
    color: #162fd5;
    text-decoration: none;
}

