html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #FEFEFE;
    background-color: #252735;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    max-width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.highlight {
    background-color: #0f1010;
}

.listingblock {
    background-color: #0f1010;
    border: 1px solid #0f1010;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

/*code {*/
/*    background-color: #0f1010;*/
/*}*/

/*pre.CodeRay {*/
/*    background: #070707*/
/*}*/

a {
    color: #93ffd7;
    text-decoration: none;
}

@font-face {
    font-family: "unifont";
    src: url("./unifont.woff") format('woff');
}

pre {
    font-family: "unifont", "Lucida Console", monospace, Monaco;
    font-size: 16px;
    line-height: 1.0;
    padding-left: 20px;
}

h1 {
    color: #ececec;
    text-align: center;
}

p {
    margin: 10px 0;
}

ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin: 5px 0;
}

#footer {
    height: 60px;
    background-color: #252735;
    color: #d3d3d3;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}